.container {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.banner {
    width: auto;
    background-color: rgb(241,165,54);
    margin: 0 auto;
    display: flex;
    padding: 30px;
}

.logo img {
    display: flex;
    max-width: 55%;
    max-height: auto;
    margin-top: 4%;
    margin-left: 15%;
}

.hyperlinks ul > li {
    display: inline-block;
    width: auto;
    margin: 20px;
    text-align: rightss;
}

a {
    text-decoration: none;
    color: black;
}

.hyperlinks {
    
    margin-top: 0%;
    font-size: 18px;
    font-weight: 600;
}

.hero {
    width: auto;
    height: auto;
    position: relative;
    margin: 5px 0px;
}

.hero img {
    width: 100%;
    object-fit: cover;
    height: 650px;
}

.quote {
    background-color: white;
    font-size: 30px;
    padding: 10px;
    font-weight: bolder;
    position: absolute;
    bottom: 25%;
    right: 38%;
}