.container {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.banner {
    width: auto;
    background-color: rgb(241,165,54);
    margin: 0 auto;
    padding: 30px;
}

.bannerdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    max-width: 55%;
    max-height: auto;
    margin-top: 4%;
    margin-left: 15%;
}

.hyperlinks li {
    list-style: none;
    display: inline-block;
}

.hyperlinks li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-right: 25px;
}


.hero {
    width: auto;
    height: auto;
    position: relative;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.hero img {
    width: 100%;
    object-fit: cover;
    height: 650px; 
    position: absolute;
    z-index: -1;
}

.quote {
    background-color: white;
    font-size: 30px;
    padding: 10px;
    font-weight: bolder;
}

.intro {
    margin: 0 10%;
}

h2 {
    font-size: 35px;
}

span {
    font-size: 25px;
}

.previews {
    display: flex;
    height: 100%;
    width: 80%;
}

.foodPreview {
    width: 30%;
    height: 100%;
    position: relative;
    margin: 3% 5%;
}

.foodPreview img {
    width: 600px;
    object-fit: cover;
    height: 500px;

}

.previewCaption {
    font-size: 25px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 3% 0px;
}

.weeklyRecipies{
    background-color: #dadfea;
    width: auto;
    height: 900px;
}

.weeklyText {
    margin: 0px 10%;
}

.weeklyText h2 {
    padding-top: 5%;
}

.weeklyExamples li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 3% 5%;
    margin-bottom: 0;
}

.weeklyExamples img {
    max-width: 250px;
    height: 300px;
    object-fit: cover;
}

.weeklyCaption{
    display: block;
    text-align: center;
    background-color: white;
    padding: 5%;
}

.whereEat{
    margin: 0 10%;
}

.whereEat li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 3% 5%;
    margin-bottom: 0;
}

.whereEat img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border:8px solid #dadfea;
}

.whereCaption{
    display: block;
    text-align: center;
    padding: 5%;
}

.copyright{
    margin: 0 10%;
}

.footnote {
    width: auto;
    background-color: rgb(241,165,54);
    margin: 0 auto;
    padding: 30px;
}

.bannerdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary{
    background-color: #dadfea;
    width: auto;
    height: 150px;
}

.summary .info {
    margin: 0 10%;
}

.info li {
    font-size: 20px;
    font-weight: 800;
    list-style: none;
    display: inline;
    position: relative;
    margin: 3% 5%;
    margin-bottom: 0;
}

.title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 40px;
    font-weight:900; 
}

.title span {
    display: flex;
    justify-content: center;
    
}

.review {
    padding-left: 18px;
}

.saveAndPrint {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.save {
    color: white;
    background-color: #a63223;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 20px;
}

.print {
    margin-left: 20px;
    font-size: 30px;
}

.desc {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #dadfea;
    max-width: 60%;
    margin: 3% auto;
    text-align: center;
    font-weight: bolder;
    color: #6F6F6F;
}

.information {
    display: flex;
}

.ingredients h1 {
    justify-content: left;
}

.ingredients {
    font-family: 'Lato' sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 50%;
    height: auto;
    margin-left: 10%;
}

.directions {
    margin: 25px 0;
    width: 50%;
    font-size: 24px;
}